.Rproj.user
.Rhistory
.RData
src/*.o
src/*/*.o
src/*/*/*.o
src/*/*/*/*.o
src/*.so
src/*.dll
/FIXME
rcppquantuccia.Rproj
GPATH
GRTAGS
GTAGS
local/*
## these are in the calendars directory and always rsync
src/ql/time/calendars/Makefile.am
src/ql/time/calendars/Makefile.in
## ephemeral as we have src/Makevars.in
src/Makevars
