useDynLib(qlcal, .registration=TRUE)
export("adjust",
       "advanceDate",
       "advanceUnits",
       "businessDaysBetween",
       "calendars",
       "getEndOfMonth",
       "getHolidays",
       "getBusinessDays",
       "isBusinessDay",
       "isEndOfMonth",
       "isHoliday",
       "isWeekend",
       "getId",
       "getName",
       "setCalendar",
       "getXPtr",
       "isBusinessDate")
S3method("print", "qlcalendar")
importFrom("Rcpp", "evalCpp")
